button {
    margin: 1px;
}


tr:nth-child(odd){
    background-color: beige;
}
  
  tr:nth-child(odd):hover{
    background-color: grey;
    color : white ;
  }
  
  
  tr:nth-child(even):hover{
    background-color: grey;
    color : white ;

  }